bin
target
.scala_dependencies
*~
*.tex
*.aux
*.dvi
*.log
*.pdf
pdflatex.stderr
pdflatex.stdout
timeplan.properties
.cache
.cache-main
.cache-tests
.goutput*


# Eclipse
.classpath
.project
.settings

# IDEA / IntelliJ
.idea/
*.iml

# VS Code (Scala (Metals) plugin)
.bloop/
.metals/
metals.sbt
.vscode/
