
Linux.pdflatex=/usr/bin/pdflatex
Mac.pdflatex=/usr/texbin/pdflatex
WinXP.pdflatex="c:/Program Files/MiKTeX 2.9/miktex/bin/pdfplatex.exe"
Win7.pdflatex="c:/Program Files (x86)/MiKTeX 2.9/miktex/bin/pdfplatex.exe"
